button{
    box-shadow: 0px 1px 3px rgb(21, 12, 12);
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to right, #b5c5d8, #5380b0);
    }
    50% {
        background: linear-gradient(to right, #5380b0, #b5c5d8);
    }
    100% {
        background: linear-gradient(to right, #b5c5d8, #5380b0);
    }
}

body {
    animation: gradientAnimation 3s infinite alternate;
    background-size: 400% 400%;
}
